<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    {% extends 'layouts/base.html' %}
    {% block content %}
    <h1>Task</h1>
    {% for task in tasks %}
    <div>
        <h2>{% if task.done == False %} ⏱ {% else %} ✅ {% endif %} {{task.title}}</h2>
        <li>{{task.description}}</li>
        <p>Projects: {{task.project.name}}</p>
    </div>
    <button>
        Delete
    </button>
    <button>
        ✅Done
    </button>
    {% endfor %}
    {% endblock %}
</body>
</html>