<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'layouts/base.html' %}
    {% block content %}
    
    <h1>About</h1>
    <h2>Website created by {{username}}</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid provident atque fugit? Incidunt, esse iste. Hic quis rerum, facilis placeat asperiores perferendis eius, illum minima dignissimos laborum obcaecati totam eveniet!</p>

    {% endblock %}

</body>
</html>